footer.section.footer-classic.context-dark
	.container
		ul.list-inline.list-inline-md.footer-classic-icon-list
			li: a.fa-facebook( href='#' )
			li: a.fa-instagram( href='#' )
			li: a.fa-behance( href='#' )
		+rights
