-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Muli:400,700%7COpen+Sans%7CMerriweather:300,400,700",
		logo = {
			name: 'Lila Dusk'
		},
		links = {
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Works',
				link: 'index.html#works',
				anchor: 'works'
			},
			{
				title: 'About',
				link: 'index.html#about',
				anchor: 'about'
			},
			{
				title: 'exhibitions',
				link: 'index.html#exhibitions',
				anchor: 'exhibitions'
			},
			{
				title: 'Contacts',
				link: 'index.html#contacts',
				anchor: 'contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
